<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Primary Meta Tags -->
<title>
    {% block title %}Bunpeti - Rabbit Pet Care{% endblock %}
</title>


<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Bunpeti - Rabbit Pet Care">
<meta name="author" content="Bunpeti">
<meta name="description" content="Bunny Rabbit Care Blog - bunpeti">
<link rel="canonical" href="https://live.staticflickr.com/65535/51414464372_f66fa8dea4_b.jpg">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://bunpeti.com">
<meta property="og:title" content="https://bunpeti.com">
<meta property="og:description" content="Bunny Rabbit Care Blog - bunpeti">
<meta property="og:image" content="https://live.staticflickr.com/65535/51414464372_f66fa8dea4_b.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://bunpeti.com">
<meta property="twitter:title" content="https://bunpeti.com">
<meta property="twitter:description" content="Bunny Rabbit Care Blog - bunpeti">
<meta property="twitter:image" content="https://live.staticflickr.com/65535/51414464372_f66fa8dea4_b.jpg">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="/static/assets/img/favicon/favicon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon/favicon.png">
<link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/assets/img/favicon/favicon.png" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<!-- Google Font-->
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,600;0,700;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Indie+Flower&display=swap" rel="stylesheet">
<!--  CSS -->
<link type="stylesheet" href="/static/assets/vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/style.css">


</head>
<body>
{% include 'navigation.html' %}

{% block content %}{% endblock content %}


{% include 'footer.html' %}


    <script src="static/js/script.js" defer></script>
</body>
</html>