{% extends 'base.html' %}

{% block title %}Bunpeti's Blog {% endblock %}

{% block content %}
 <section id="blog">
     <h2 class="blog__title">Blog</h2>
     <div style="margin: auto" class="project">
                    <div class="videoWrapper">
                    <iframe src="https://www.youtube.com/embed/M6dEp94YXyc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <h3>Cảm ơn mọi người đã gửi câu hỏi</h3>
                    <p>Mình sẽ trả lời các câu hỏi vào những video tiếp theo nha!</p>
                </div>
            <table style="display: grid" class="container">
                  <thead>
                    <tr>
                      <th >ID</th>
                      <th >Time</th>
                      <th >Question</th>
                    </tr>
                  </thead>
                  <tbody>
                   {% for question in q_list %}
                    <tr>
                      <td >{{question[0]}}</td>
                      <td>{{question[1]}}</td>
                      <td>{{question[2]}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
            </table>
 </section>
{% endblock content %}