<nav class="nav">
    <a class="fas fa-carrot logo" href="{{ url_for('home')}}"></a>
    <input type="checkbox" id="menu" name="check">
    <label for="menu" class="checkbtn">
    <i class="fas fa-bars menuicon "></i></label>
    <ul class="nav__list" >
            <li class="nav__item"><a class="nav__link" href="{{ url_for('home') }}">Home</a></li>
            <li class="nav__item"><a class="nav__link" href="{{ url_for('shop') }}">Shop</a></li>
            <li class="nav__item"><a class="nav__link" href="{{ url_for('blog') }}">Blog</a></li>
            <li class="nav__item"><a class="nav__link" href="{{ url_for('contact_me') }}">Contact</a></li>
        <ul class="nav__socialmedia">
            <li><a href="http://bit.ly/3qg3O13" target="blank" class="fab fa-youtube"></a></li>
            <li><a href="https://www.instagram.com/bunpeti/" target="blank" class="fab fa-instagram"></a></li>
            <li><a href="https://www.facebook.com/bunpeti/" target="blank" class="fab fa-facebook-square"></a></li>
            <li><a href="https://www.tiktok.com/@bunpeti?/" target="blank" class="fab fa-dribbble"></a></li>
        </ul>
    </ul>
</nav>
<script src="static/js/script.js" defer></script>